# **Data Types And Structures Assignment**

1.What are data structures, and why are they important ?

Answer ->  Data Structures are the specialized format for organizing, storing , and accessing collections of data.
They provide efficient way to manage the information based on their characteristics and use .

 They are important because:


*   Choosing the right data structure significantly impacts the efficiency and performance of your program.
*   Well choosing data structures leads to simplified data manipulation (adding, removing and modifying elements.)


*   Best suited data structure can optimize searching and sorting operations on data.
*   We have conserved memory usage with right data structure.

2. Explain the difference between mutable and immutable data types with examples.

**Answer** -> Mutable data types means the data types type which can be changed or modified after their creation . They allows to change any element after it is created.

Some common mutable data  types are List  , Dictionary , sets , etc.

Immutable data types are that data types which prohibits any change once they are created . Immutable means unchangeable once it is created, we can't modify the object.If we try to change it , a new  object is created.

Tuples , string , frozenset, etc. are the  some immutable data types.

In [ ]:
# Examples :-
#mutable ddata types
grocery_list = ["Apple","Banana","Potato","Tomato","Sugar", "Salt"]
#We want to chane banana to mango
grocery_list[1] = "Mango"
print(grocery_list)

['Apple', 'Mango', 'Potato', 'Tomato', 'Sugar', 'Salt']

In [ ]:
#immutable data types
my_tuple = ("Yash" ,"Rahul","Utkarsh","Shashank","Parth")
#If we have to change Parth to Priyanshu then it will  throw an error
my_tuple[4] = "Priyanshu"

TypeError: 'tuple' object does not support item assignment

3.What are the main differences between lists and tuples in Python ?

The main difference between lists and tuples are as follows:


1.   List is a mutable data structure whereas the tuple is an immutable type data structure.
2.   Syntax of list - [1,2,3] whereas syntax of tuple - (1,2,3).

3.   List is used when data needs to change whereas tuple is used when data must not needs to  be change.
4.   List is slower as it's dynamic but tuple is faster due to immutability.

5.   List uses more memory than tuple.

4. Describe how dictionaries store data ?

**Answer ->** Dictionaries store data in the form of unique key - value pair in which keys is immutable and each key have its associated value. Dictionaries stores data in an unordered format and each key acts as unique identifier for an associated value and keys and values can be of different data types.
In python , dictionaries use hash table in which each key is hashed using a hash function.

In [ ]:
#Dictionary example
my_dict = {"India":"New Delhi","France":"Paris","USA":"Washington","Nepal":"Kathmandu"}
my_dict["India"]

'New Delhi'

5.Why might you use a set instead of a list in Python ?

We use set instead of a list because set contains unique elements , it doesn't contains duplicate element but list can have duplicate element. Set automatically removes the duplicate items .

Example:-

In [ ]:
name = ["Yash","Utkarsh","Rahul","Yash","Shashank","Utkarsh"]  # this is a list contains the same name multiple times
unique_name = set(name)  #We convert the list 'name' into set which prints only unique names from the list
print(unique_name)

{'Yash', 'Shashank', 'Utkarsh', 'Rahul'}

6.What is a string in Python, and how is it different from a list ?

**Answer->** String in python are arrangement  of characters in an unchangeable order like a word or sentence. Each character in the string can be accessed by its index.

String is different from list in many aspects:


1.   String contains only characters data type whereas a list contains all types of data in it.
2.   String is immutable or can not be  changed after it's creation but List is  immutable any value can be accessed and change when required.

3.   Syntax of string: str1 = "Yash"  whereas Syntax of list: my_list = [1,2,3,"Yash"].

7. How do tuples ensure data integrity in Python ?

**Answer->** Tuple ensures integrity by its immutable characteristics . Once data is stored in tuple it can not be changed  therefore prohibiting accidental and unauthorized changes .

Tuples protect data by locking in it. Unchangeable data like coordinates of different locations are stored in tuples to avoid any types of changes.

8. What is a hash table, and how does it relate to dictionaries in Python ?

 **Answer ->** A Hash Table is a data structure that stores key - value pairs using a hashing mechanism. When we store any key in the hash table then by using hash function , key is converted into a unique number that is Hash code.
Dictionaries are implemented using hash table , when we create any keys in dictionary then by hash table , the keys has assigned it's associated hash code which makes keys unique or dictionaries immutable.

By hashing dictionaries have fast access of data  and efficient memory allocation.

9.Can lists contain different data types in Python ?

**Answer ->** Yes List can store different data types , they can store multiple data types- strings , integer , float , boolean even other lists , tuples and dictionaries.

10. Explain why strings are immutable in Python.

**Answer ->** Strings in python are immutable because it prohibits any change in it directly after its creation . If we want to change it then we have to create a new string.

Strings are immutable in python to provide efficiency , reliability and safe behaviour in data structure.

11.What advantages do dictionaries offer over lists for certain tasks ?

**Answer->** Dictionaries offer some advantages over lists:

*   In dictionaries , data is stored in key value pair and key based indexing which allows us to access the data by key indexing and keys are unique identifier of their associated values . In real life scenario , if we have to store a data of peoples with their phone number then dictionary is most useful.
List does not allows such types of data arrangement and key based indexing.
*   Dictionaries are the better choice for storing related data or records than list.

*   Dictionaries automatically  prevents duplicate keys in it but list can contains duplicate elements.
*  Data  look up is very fast in dictionaries than list because in dictionaries data is searched by keys whereas in list data is searched with normal indexes.

12. Describe a scenario where using a tuple would be preferable over a list.

**Answer ->** There is a scenario where we have to store the coordinates of different locations and we know that each location have its unique coordinates therefore the coordinates must have remains unchanged while storing them therefore we need an immutable data structure and then tuple is the better choice for storing such coordinates than list to avoid any accidental and unauthorized change in the coordinates.

13. How do sets handle duplicate values in Python ?

**Answer ->** Sets are the data structure in python which prohibits duplicate entries in it. Set automatically removes the duplicate elements present in it .If we add a duplicate element by mistaken or other then it will remove that data silently without giving any error or warning. Therefore it prefers uniqueness while storing the data.

14. How does the “in” keyword work differently for lists and dictionaries .

**Answer ->** "in" is a membership operator in python which checks that if a data is present in the data structure or not.

When we use 'in' operator in lists then it will check whether the value exists in the list or not.

When we use 'in' operator with dictionaries then it will check for keys only , not for values. We have to use it differently  for values.

15. Can you modify the elements of a tuple? Explain why or why not.

**Answer ->** No we cannot modify the elements of a tuple because tuple is an immutable data structures .

16.What is a nested dictionary, and give an example of its use case ?

**Answer -**> Nested dictionary is the dictionary inside the another dictionary or A dictionary where each key is mapped to another dictionary as its value. It is suitable for storing complex structured data in an organized way.

**Use cases:-**
An industry stores it's employees data records with its employee id as key and (a dictionary containing name, mobile no. , account number , address ,etc  ) as value.

In [ ]:
emp_data = {
    'E0001':{"name":"Ajit",'phone no.': 123467,'Account No.':546783578},
    'E0002':{"name":"Abhay",'phone no.': 129863,'Account No.':54671322},
    'E0003':{"name":"Abhinav",'phone no.': 976323467,'Account No.':546679099},
}
print(emp_data)

{'E0001': {'name': 'Ajit', 'phone no.': 123467, 'Account No.': 546783578}, 'E0002': {'name': 'Abhay', 'phone no.': 129863, 'Account No.': 54671322}, 'E0003': {'name': 'Abhinav', 'phone no.': 976323467, 'Account No.': 546679099}}

17. Describe the time complexity of accessing elements in a dictionary ?

**Answer->** Dictionaries have keys which have unique hash code as they are implemented using hash table and according  to these hash codes memory location of key- value pair is done therefore by computing the hash value instantly finds the memory location of required key . Hence it's average case time complexity is O(1).

In rare case or worst case time complexity is O(n) it happens when too many keys end up with the same hash code.

18. In what situations are lists preferred over dictionaries ?

**Answer ->** List is preferred over dictionaries in given situations:


*   When we need to store the data in an ordered manner.
*   When there is no need to label the values.

*   When duplicate values are not matter.
*   When we need to iterate over a sequence or we need to access items by index.
  
  In use cases while preparing grocery list , Bus routine chart,etc.

19.Why are dictionaries considered unordered, and how does that affect data retrieval ?

**Answer ->** Dictionaries are unordered collection of data as it stores data in the form of key-value pair which implemented by hash table . Due to this the retrieval of data becomes easy and fast than ordered data structures like list or other . Dictionaries insert data in random order as they focuses on speed not order. Therefore search in dictionary have time complexity of o(1).

20. Explain the difference between a list and a dictionary in terms of data retrieval.

**Answer->** In list the data is retrieved by the indexing of their position, data is stored in an ordered form and we access data by its position and we need to take care of order .

In dictionary each data have it's unique identifier or keys and we can retrieve that data by key based indexing and we have no need to take care about order.
We can access easily by their keys.

# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Yash Dwivedi"
print("My name is :" , name)

My name is : Yash Dwivedi

2.Write a code to find the length of the string "Hello World".

In [11]:
str = "Hello World"
length = len(str)
print("Length of the given string is:",length)

Length of the given string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [13]:
str = "Python Programming"
print(str[0:3])

Pyt

4.Write a code to convert the string "hello" to uppercase.

In [14]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [15]:
sentence = "I like apple"
updated_sentence = sentence.replace("apple","orange")
print(updated_sentence)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [16]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [17]:
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [20]:
list1 = [1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [22]:
lst = ['a','b','c','d']
second_item = lst[1]
print(second_item)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
number = [10,20,30,40,50]
print("Reverse of the given list:",number[::-1])

Reverse of the given list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [25]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [27]:
tuple2 = ("red","green","blue","yellow")
print(tuple2[1:])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
tuple3 = (10,20,5,15)
print(min(tuple3))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [29]:
pet = ("dog","cat","rabbit")
print(pet.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [32]:
fruit = ("Mango","Banana","Grapes","Kiwi")
confrm = "Kiwi" in fruit
if(confrm == True):
  print("Yes Kiwi is present .")
else:
  print("Kiwi is not present.")

Yes Kiwi is present .

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [34]:
set1 = {'a','b','c'}
print(set1)
type(set1)

{'a', 'b', 'c'}

set

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [38]:
set2 = {1,2,3,4,5}
print(set2)
set2.clear()
print("set2 is cleared",set2)

{1, 2, 3, 4, 5}
set2 is cleared set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [40]:
s = {1,2,3,4}
print("Original set:",s)
s.remove(4)
print("Updated set:",s)

Original set: {1, 2, 3, 4}
Updated set: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [41]:
s1 = {1,2,3}
s2 = {3,4,5}
#union of sets s1 and s2
sunion = s1.union(s2)
print("Union of set s1 and s2:",sunion)

Union of set s1 and s2: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [42]:
s1 = {1,2,3}
s2 = {2,3,4}
#Intersection of s1 and s2.
sintersection = s1.intersection(s2)
print("Intersection of two sets:", sintersection)

Intersection of two sets: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [43]:
my_info = {"name":"Yash","age":22,"city":"Haridwar"}
print(my_info)

{'name': 'Yash', 'age': 22, 'city': 'Haridwar'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [46]:
my_dict = {'name': 'John', 'age': 25}
my_dict['city'] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [49]:
d1 = {'name': 'Alice', 'age': 30}
value = d1['name']
print(value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [50]:
d2 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
d2.pop("age")
print(d2)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [52]:
d3 =  {'name': 'Alice', 'city': 'Paris'}
checkcity = 'city' in d3
if checkcity == True:
  print("Yes city is present")
else:
  print("No city is not present.")

Yes city is present

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [53]:
list1 = ["Yash",1,2,True,2+3j]
dict1 = {'name': 'Alice', 'city': 'Paris'}
tuple1 = ("Yash","Ansh","Rahul",1,2)
print(list1)
print(dict1)
print(tuple1)

['Yash', 1, 2, True, (2+3j)]
{'name': 'Alice', 'city': 'Paris'}
('Yash', 'Ansh', 'Rahul', 1, 2)

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [4]:
import random
num = []
for i in range(1,6):
  random_num = random.randint(1,100)
  num.append(random_num)

print(num)
num.sort()
print("Sorted list :",num)

[13, 16, 95, 65, 79]
Sorted list : [13, 16, 65, 79, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [5]:
name = ["Yash","Utkarsh","Rahul","Shashank","Parth","Aman"] # creating the list of strings.
third_index = name[3]
print(third_index)

Shashank

29. Write a code to combine two dictionaries into one and print the result.

In [12]:
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict2 = {'mobile_no':762344,'country':"USA"}
combined_dict = {**dict1 , **dict2} #combining two dictionaries
print(combined_dict)

{'name': 'Bob', 'age': 22, 'city': 'New York', 'mobile_no': 762344, 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [15]:
#consider the list of strings 'name' taken in question 28
set_name = set(name)#converting the list into set.
print("List of dictionaries in set form:",set_name)
print(type(set_name))

List of dictionaries in set form: {'Shashank', 'Rahul', 'Yash', 'Parth', 'Aman', 'Utkarsh'}
<class 'set'>